<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Content Page!</title>
  <link rel="stylesheet" href="/style.css" />
  <script src="/script.js" defer></script>
</head>
<body>
<nav class="navbar">
        <a href="index.html" class="logo">Comp Sci High</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/content">More</a></li>     
        </ul>
    </nav>
  
<body>

  <div class="card-container">
    <div class="card">
      <video controls>
        <source src="art.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <h3>Video 1 Title</h3>
      <p>This is video 1 description text that explains the content.</p>
    </div>

    <div class="card">
      <img src="raeldo.jpg" alt="Image 1" />
      <h3>Image 1 Title</h3>
      <p>This is Raeldo Taveras creating a art in the Old Building for the Art Showcase.</p>
    </div>

    <div class="card">
      <video controls>
        <source src="art.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <h3>Video 2 Title</h3>
      <p>This is video 2 description text that explains the content.</p>
    </div>

    <div class="card">
      <img src="img4.JPG" alt="Image 2" />
      <h3>Image 2 Title</h3>
      <p>This is Dance team having a brunch that is how they bond with each other besides being in the Dance Class.</p>
    </div>

    <div class="card">
      <video controls>
        <source src="art.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <h3>Video 3 Title</h3>
      <p>This is video 3 description text that explains the content.</p>
    </div>

    <div class="card">
      <img src="img3.jpg" alt="Image 3" />
      <h3>Image 3 Title</h3>
      <p>This is again the Dance Team showing their bonding skills while training for dances in their studio. </p>
    </div>
  </div>

</body>
</html>
    